@primary-color: #03aee4;
html,body{
  font:14px/18px  'Open Sans', Helvetica,Arial,sans-serif;
  color: #404041;
  margin:0px;

  -webkit-font-smoothing: antialiased;

  a{
    color: #595959;
  }
}

html{
  background:#f8f8f8;
  body{
    background: transparent;


  }
  cite {
    color: #999;
    font-size: 13px;
    font-style: italic;
}



.btn{


  &.main_action{
  
    text-transform: uppercase;
    font-weight: 600;
    text-shadow:none;
  }
}

  





}
.nav > li > a:hover, .nav > li > a:focus{
  background: #EEE;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
   color: #aaa !important;
    font-size: 15px;
    font-weight: normal;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaa !important;
    font-size: 15px;
    font-weight: normal;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #aaa !important;
    font-size: 15px;
    font-weight: normal;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #aaa !important;
    font-size: 15px;
    font-weight: normal;
    
}



.form-wrapper{
  max-width: 520px;
  margin: 0 auto;

  .header-image{

    text-align: center;
    margin:40px 0;

    img{
      display: inline-block;
      max-width: 60%;

    }

  }
}

.filter{
  clear: both;
  display: block;
  margin-bottom:15px;

}



#filter_input{
  width: 220px;
}

.navbar-default{
  background: #e6e6e6
}

.navbar{


 .nav{
  margin:0 !important;
  text-transform: uppercase;
 }

 
}

.navbar-toggle{
  border-color: #fff;
}

.navbar-toggle .icon-bar{
  background: #fff;
}


.custom-responsive-table{

    .responsive-table-th{
      display: none;
    }
  }

  /*Table CSS*/

table{
  background: #fff;

  th{

    a{

      .order{
        display: none;
      }


      &.active{

        &.desc{

          .order.desc{
            display: block;
          }

        }


        &.asc{

          .order.asc{
            display: block;
          }

        }

      }
    }
  }

}





/* ===================================== */

.btn-link{

  color: #03aee4;

  &:hover{
    color: #1699cc;
  }
}



.bg_white{
  background: #fff;
}

.wrapper{
 

  &.bg_white{
    border: 1px solid #efefed;
    padding: 0 30px;
  }

  .nav-pills{

    &.nav-stacked{

      li{

        a{
         background:  #eaeaea;
         border-radius: 0;
         font-size: 15px;
         margin-bottom: 5px;

         
        }

         &.active{
            a{

             background: #ff6b45;   
            }
          }
      }
      
    }
  }
}


.navbar-brand{
     background: url("../images/logo-white.png") no-repeat scroll 0 center / contain transparent;
    height: 46px;
    margin-left: 0 !important;
    margin-top: 3px;
    width: 200px;

  }























.main_container{
  padding-top:80px;
  margin-bottom: 20px;
}


.ui-autocomplete{
  background:  #ffffff;
  border: none;
  font-family: inherit  !important;
  box-shadow: 0px 2px 10px #444;
   
    .ui-menu-item{
      padding: 10px !important;

      &.ui-state-focus{
        background: #eee;
        border: 1px solid #ddd;
      }
    }

}











.pagination{

  li{

    &.active{

      a{

        background: #ff6b45;
        border-color: #ff833d;
      }
    }


  }
}





/* ============================================= */

.page_auth,.page_admin{
  background: #fff;

  .navbar-brand{
     margin-top: 0px;
    height: 50px;
    padding: 15px;
  }

  .nav{
    margin: 0;
  }

  .navbar-default{
    background: #f8f8f8;

    a{

      text-transform: none;
    }
  }

  .footer{
    display: none;
  }

  .page-header{
    margin-top: 10px;
    font-size: 24px;
    overflow: hidden;
  }

}


.page_admin{

  .navbar-brand{
    background: url("../images/logo-black.png") no-repeat scroll 0 center / contain  transparent;
  }
}


#schoolFilterResultsContainer{
  position: static;
}




#reviews{

  line-height: 22px;
  font-size: 14px;



  .sort-bar{
    display: none;
  }

  .review-item{
 
    padding: 5px 0;



      .date{
        color: #888;
        margin-bottom: 10px;
        font-size: 13px;
      }

      .title{
        font-size: 16px;
        line-height: normal;
        font-weight: 600;
        color: @primary-color;
      
      }

      .rating-star{
        font-size: 24px;
        margin: 5px 0;
      }

      .content{
        color: #777;
        line-height: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;

          label{
            color: #222;
            font-size: 13px;
          }
      }

      .counts{
      margin-top: 20px;

        span{
          font-size: 20px;
          font-weight: 600;
        }

        .color-success{
           color: #5cb85c;
        }


        .color-danger{
          color: #d9534f;

        }

        

      }


      .action{

          .btn{
            font-size: 14px;
            color: #777;

            .icon{
              color: #777;
            }
          }
      }


  }
}











.error-block{
  color: red;
}



.rating-star{
  color: orange;
}



.img-selector{
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  label{
    display: block;
  }
  .img{
    height: 160px;
    background-size: cover !important;
  }

  .thumbnail{
    margin-bottom: 0;
  }


  .checkbox{
     
     label{
      margin: 0;
     }
    
  }
}



.no-data{
   color: #ccc;
    font-weight: normal;
    margin: 100px auto;
    text-align: center;

    .icon{
      font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
    }

    .msg{
      font-size: 22px;
      margin-bottom: 20px;
      line-height: normal;
    }
}

