
@media (min-width: 1200px) {

}

@media only screen and (max-width: 1200px) {


  
  .custom-responsive-table{

    table, thead, tbody, th, td, tr {
        display: block;



    }

    .table{
      font-size: 14px;
      &.table-bordered{
        > tbody{

          > tr{


            border-bottom: 1px solid #ddd;
          
            > td{

              border: none !important;
              overflow: hidden;
              width: 100%;
            }

            &:last-child{
              border-bottom:none;
            }

            &:first-child{
              border-bottom: none;
            }
          }
        }
      }
    }

    th{
      display: none;
    }

    tr{
      
    }

    .responsive-table-th{
      display: block;
      padding-right: 5px;
      margin-right: 5px;
      float: left;
    }

    .responsive-table-td{
      overflow: hidden;


    }

    

  }
}



  
@media only screen and (max-width: 1006px) {

  html{

    &.page_settings{

      body{

        margin-bottom: 0;

        .footer{
          position: static;
          height: auto;
        }
      }
    }




}


#home{

  .form-inline{

    .form-group{
      margin-bottom: 15px;
    }
  }
}
  


  #home_page body, #home_page .row{
    height: auto;
  }

  .home-wrapper{
    display: none;
  }



  #header{

    .nav{

      .profile-img{
        display: none;
      }
    }

    .navbar-fixed-top{
         background: none repeat scroll 0 0 #363635;
          margin: 0;
          position: fixed;


    }


    .navbar-nav{

      a{

         border: medium none !important;
          color: #ccc;
          margin: 0;
          padding-bottom: 15px;
          padding-top: 15px;
      }
    }

    .navbar-brand{
     margin-left: 15px !important;

    }


    .navbar{

      .nav{

        > li{

          > a{

            &:hover{

                background-color: rgba(255, 255, 255, 0.5);
                  border-color: #f3f5f5;
                  color: #ffffff;
                  opacity: 1;
            }
          }
        }
      }

      
    }

  }


  #home_page{
    

    #header{

      .navbar-fixed-top{
         background: none repeat scroll 0 0 #363635;
          margin: 0;
          position: fixed;
      }

      .navbar{
        &.sticky{

          .navbar-nav{

            a{

               border: medium none !important;
                color: #ccc;
                margin: 0;
                padding-bottom: 15px;
                padding-top: 15px;
            }
          }
        }

        .nav{

          > li{

            > a{
                padding-bottom: 15px !important;
                padding-top: 15px !important;
                margin:0 !important; 

            }
          }
        }
      }
    }
  }


  .navbar{

    .nav{

      margin-top: 0;
    }
  }

  #home{
    padding: 150px 0;
    .search_form{
      max-width: 100%;
    }

    .lead{
       font-size: 36px;
    }
  }

  .main_container{
    padding-top: 72px !important;
  }





}


@media only screen and (max-width: 980px){
  html{
  .hide-mobile{

      display: none !important;
   }


   .show-mobile{
    display: block !important;
   }


  
}
}

@media only screen and (max-width: 767px) {
  

   

}

@media only screen and (max-width: 690px) {


}


@media only screen and (max-width: 480px) {

  #school-details{

      h1{

      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: normal;
        margin: 5px 0 15px;
        overflow: hidden;
        padding: 24px;

        .survey{
          float: none !important;
          margin-top:10px;
        }

      }


  }


  .login-modal{

    .form-signin-heading{
       h3{
        font-size: 20px;

          .login-return{
            display: block;
            float: none !important;
            margin-bottom: 22px;
          }
       }
    }
  }


}