@media only screen and (max-width: 1200px) {
  .custom-responsive-table table,
  .custom-responsive-table thead,
  .custom-responsive-table tbody,
  .custom-responsive-table th,
  .custom-responsive-table td,
  .custom-responsive-table tr {
    display: block;
  }
  .custom-responsive-table .table {
    font-size: 14px;
  }
  .custom-responsive-table .table.table-bordered > tbody > tr {
    border-bottom: 1px solid #ddd;
  }
  .custom-responsive-table .table.table-bordered > tbody > tr > td {
    border: none !important;
    overflow: hidden;
    width: 100%;
  }
  .custom-responsive-table .table.table-bordered > tbody > tr:last-child {
    border-bottom: none;
  }
  .custom-responsive-table .table.table-bordered > tbody > tr:first-child {
    border-bottom: none;
  }
  .custom-responsive-table th {
    display: none;
  }
  .custom-responsive-table .responsive-table-th {
    display: block;
    padding-right: 5px;
    margin-right: 5px;
    float: left;
  }
  .custom-responsive-table .responsive-table-td {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1006px) {
  html.page_settings body {
    margin-bottom: 0;
  }
  html.page_settings body .footer {
    position: static;
    height: auto;
  }
  #home .form-inline .form-group {
    margin-bottom: 15px;
  }
  #home_page body,
  #home_page .row {
    height: auto;
  }
  .home-wrapper {
    display: none;
  }
  #header .nav .profile-img {
    display: none;
  }
  #header .navbar-fixed-top {
    background: none repeat scroll 0 0 #363635;
    margin: 0;
    position: fixed;
  }
  #header .navbar-nav a {
    border: medium none !important;
    color: #ccc;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #header .navbar-brand {
    margin-left: 15px !important;
  }
  #header .navbar .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #f3f5f5;
    color: #ffffff;
    opacity: 1;
  }
  #home_page #header .navbar-fixed-top {
    background: none repeat scroll 0 0 #363635;
    margin: 0;
    position: fixed;
  }
  #home_page #header .navbar.sticky .navbar-nav a {
    border: medium none !important;
    color: #ccc;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #home_page #header .navbar .nav > li > a {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    margin: 0 !important;
  }
  .navbar .nav {
    margin-top: 0;
  }
  #home {
    padding: 150px 0;
  }
  #home .search_form {
    max-width: 100%;
  }
  #home .lead {
    font-size: 36px;
  }
  .main_container {
    padding-top: 72px !important;
  }
}
@media only screen and (max-width: 980px) {
  html .hide-mobile {
    display: none !important;
  }
  html .show-mobile {
    display: block !important;
  }
}
@media only screen and (max-width: 480px) {
  #school-details h1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: normal;
    margin: 5px 0 15px;
    overflow: hidden;
    padding: 24px;
  }
  #school-details h1 .survey {
    float: none !important;
    margin-top: 10px;
  }
  .login-modal .form-signin-heading h3 {
    font-size: 20px;
  }
  .login-modal .form-signin-heading h3 .login-return {
    display: block;
    float: none !important;
    margin-bottom: 22px;
  }
}
