html,
body {
  font: 14px/18px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}
html {
  background: #f8f8f8;
}
html body {
  background: transparent;
}
html cite {
  color: #999;
  font-size: 13px;
}
html .selected {
  background-color: #FF6B45;
  color: #FFF;
  padding: 0 4px;
}
html .show-mobile {
  display: none !important;
}
html h1.main-header {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  margin: 5px 0 40px;
  padding: 30px;
  letter-spacing: -1px;
  overflow: hidden;
}
html h1.main-header .survey .btn-link {
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
}
html h1.main-header .info {
  text-decoration: underline;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0;
  margin: 10px 0 0 0;
  color: #ccc;
}
html h1.main-header .info a {
  color: #ccc;
}
html h1.main-header .info .survey a {
  color: #fff;
}
html .btn.main_action {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: none;
}
html.page_settings {
  min-height: 100%;
  position: relative;
}
html.page_settings body {
  margin-bottom: 220px;
}
html.page_settings #header .navbar-fixed-top {
  position: fixed;
}
html.page_settings .footer {
  bottom: 0;
  height: 212px;
  position: absolute;
  width: 100%;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: #EEE;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc !important;
  font-size: 15px;
  font-weight: normal;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc !important;
  font-size: 15px;
  font-weight: normal;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc !important;
  font-size: 15px;
  font-weight: normal;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc !important;
  font-size: 15px;
  font-weight: normal;
}
.form-wrapper {
  max-width: 520px;
  margin: 0 auto;
}
.form-wrapper .header-image {
  text-align: center;
  margin: 40px 0;
}
.form-wrapper .header-image img {
  display: inline-block;
  max-width: 60%;
}
.filter {
  clear: both;
  display: block;
  margin-bottom: 15px;
}
.filter .date-filter-wrapper {
  display: none;
}
#filter_input {
  width: 220px;
}
.navbar-default {
  background: #e6e6e6;
}
.navbar .nav {
  margin: 0 !important;
  text-transform: uppercase;
}
.navbar .container {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-toggle {
  border-color: #fff;
}
.navbar-toggle .icon-bar {
  background: #fff;
}
.custom-responsive-table .responsive-table-th {
  display: none;
}
/* ===================================== */
.btn-link {
  color: #03aee4;
}
.btn-link:hover {
  color: #1699cc;
}
#header .navbar > .container {
  padding-left: 15px;
  padding-right: 15px;
}
#header .navbar .nav > li > a {
  background-color: transparent;
  color: #ccc;
  transition: all 0.2s linear 0s;
}
#header .navbar .nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #f3f5f5;
  color: #ffffff;
  opacity: 1;
}
#header .nav .profile-img > a {
  background: none repeat scroll 0 0 transparent !important;
  border: medium none !important;
  padding-top: 0 !important;
  vertical-align: top;
}
#header .nav .profile-img > a .caret {
  margin-left: 6px !important;
  margin-top: 18px;
  color: #444;
}
#header .nav .profile-img .dropdown-menu {
  margin: 0;
  padding: 0;
}
#header .nav .profile-img .dropdown-menu li {
  margin-left: 0;
  margin-right: 0;
}
#header .nav .profile-img .dropdown-menu a {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: none !important;
}
#header .nav .profile-img .dropdown-menu a:hover {
  color: #222;
}
#header .nav .dropdown-menu li a {
  padding: 10px 15px;
}
#header .navbar-fixed-top {
  background: url("../images/bg_black.png") repeat scroll 0 0 transparent;
}
#header .navbar-fixed-top .nav .profile-img > a {
  margin: 7px 0 0  !important;
}
label {
  color: #444;
}
.bg_white {
  background: #fff;
}
.wrapper.bg_white {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
}
.wrapper .nav-pills.nav-stacked li a {
  background: #eaeaea;
  border-radius: 0;
  font-size: 15px;
  margin-bottom: 5px;
}
.wrapper .nav-pills.nav-stacked li.active a {
  background: #ff6b45;
}
.navbar-brand {
  background: url("../images/logo-black.png") no-repeat scroll 0 center / contain transparent;
  height: 42px;
  margin-left: 0 !important;
  margin-top: 3px;
  width: 200px;
}
.navbar-fixed-top.sticky .navbar-nav {
  margin: 0;
}
.navbar-fixed-top.sticky .navbar-nav > li > a {
  color: #ccc;
}
.navbar-fixed-top.sticky .nav > li > a:hover,
.navbar-fixed-top.sticky .nav > li > a:focus {
  background: #222;
}
#home_page {
  height: 100%;
}
#home_page body,
#home_page .row {
  height: 100%;
}
#home_page .navbar-fixed-top {
  position: fixed;
}
#home_page .navbar-brand {
  background: url("../images/logo-black.png") no-repeat scroll 0 center / contain transparent;
  margin-left: 0;
  margin-top: 3px;
  width: 200px;
}
#home_page #header {
  border-color: transparent;
}
#home_page #header .navbar {
  border-color: transparent;
  background: url("../images/bg_black.png") repeat scroll 0 0 transparent;
}
#home_page #header .navbar.sticky {
  position: fixed;
  margin: 0;
}
#home_page #header .navbar.sticky .navbar-nav {
  margin: 0;
}
#home_page #header .navbar.sticky .navbar-nav > a {
  color: #ccc;
  border: none !important;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
#home_page #header .navbar.sticky .navbar-nav .profile-img > a {
  padding-bottom: 0;
}
#home_page #header .nav .profile-img > a .caret {
  color: #fff;
}
.home {
  background: url("../images/bg-1.jpg") no-repeat fixed 50% 0 transparent;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .container {
  position: relative;
}
.home-wrapper {
  background: url("../images/home-wrapper.png") repeat scroll 0 0 transparent;
  border: 0 none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
#home .lead,
#school-details .lead {
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-weight: lighter;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
#home .lead span,
#school-details .lead span {
  font-weight: 400;
}
#home .search_form,
#school-details .search_form {
  text-align: center;
  margin: 0 auto;
}
#home .search_form .form-control,
#school-details .search_form .form-control,
#home .search_form .ui-autocomplete-input,
#school-details .search_form .ui-autocomplete-input {
  border-radius: 0;
  border: 1px solid #eee;
}
#home .search_form .input-group-addon,
#school-details .search_form .input-group-addon {
  border-color: #ff6b45;
  background: #ff6b45;
  color: #fff;
}
#home .search_form .form-group:first-child .ui-autocomplete-input,
#school-details .search_form .form-group:first-child .ui-autocomplete-input {
  border-right-color: #fff;
}
#home .search_form .form-group:last-child .ui-autocomplete-input,
#school-details .search_form .form-group:last-child .ui-autocomplete-input {
  border-left-color: #fff;
}
#home .search_form .glyphicon-search,
#school-details .search_form .glyphicon-search {
  font-size: 20px;
}
#school-details .lead {
  color: #222;
  text-shadow: none;
}
#school-details .search_form {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
#school-details .search_form .form-control,
#school-details .search_form .ui-autocomplete-input {
  border-radius: 0;
  border: 1px solid #ccc;
}
#school-details .search_form .form-group:first-child .ui-autocomplete-input {
  border-right-color: #fff;
}
#home {
  padding: 80px 0 0;
}
#home table {
  height: 100%;
}
#home table tr,
#home table td {
  height: 100%;
}
#home #popular {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
#home #popular .lead {
  font-size: 30px;
  margin: 10px 0;
  text-shadow: none;
}
#home section.popular-schools {
  background: url("../images/bg_black.png") repeat scroll 0 0 transparent;
  padding: 5px 0;
}
#home section.popular-schools .content {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #c7c9c8;
  margin-bottom: 15px;
}
#home section.popular-schools .content .img-content h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
}
.main_container {
  padding-top: 80px;
  margin-bottom: 20px;
}
.main_container .sidebar-nav.filters ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.main_container .sidebar-nav.filters ul li {
  border-bottom: 1px solid #ddd;
}
.main_container .sidebar-nav.filters ul li a {
  background-color: #eaeaea;
  border-radius: 0px;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}
.main_container .sidebar-nav.filters ul li a.with-indicator {
  padding: 7px 15px;
}
.main_container .sidebar-nav.filters ul li a.with-indicator .indicator {
  color: #999;
}
.main_container .sidebar-nav.filters ul li a.active.with-indicator .indicator {
  color: #ff6b45;
}
.main_container .sidebar-nav.filters ul li:hover a.with-indicator .indicator {
  color: #ff6b45;
}
.main_container .currentFilters {
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.main_container .currentFilters li {
  margin: 5px 0;
  padding: 5px 0;
}
.main_container .currentFilters li .remove {
  color: #999;
}
.main_container .currentFilters li .remove:hover {
  color: #222;
}
.main_container .currentFilters li label {
  display: block;
}
.main_container .currentFilters li ul {
  padding: 0;
  margin: 0;
  list-style: none outside;
}
.main_container .school_list {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.main_container .school_list li {
  border-bottom: 2px solid #f5f5f5;
  clear: both;
  margin: 15px 0;
  overflow: hidden;
  padding: 10px 0 15px;
}
.main_container .school_list li .actions {
  margin: 10px 0;
}
.main_container .school_list li .actions .btn {
  margin-left: 5px;
  margin-right: 5px;
}
.main_container .school_list li .indicator.indicator-circle {
  font-size: 20px;
}
.main_container .school_list li .indicator.indicator-dollar {
  font-size: 19px;
}
.main_container .school_list li:first-child {
  padding-top: 0;
}
.main_container .school_list li:last-child {
  border-bottom: none;
}
.main_container .school_list li .img {
  background: none repeat scroll 0 0 #eee;
  height: 150px;
  border-radius: 4px;
}
.main_container .school_list li .img-content .school-details {
  font-size: 14px;
  margin-bottom: 4px;
}
.main_container .school_list li h4 {
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 5px;
}
.main_container .school_list li .location {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main_container .school_list li .save-bar {
  text-align: center;
  color: #5cb85c;
  font-size: 32px;
  margin-bottom: 15px;
}
.main_container .school_list li .save-bar .following {
  display: block;
  font-size: 18px;
  padding: 5px 0;
}
.main_container .school_list li .rating {
  text-align: center;
  margin: 10px 0;
  color: #999;
}
.main_container .school_list li .rating .voteText {
  display: block;
  font-size: 18px;
  padding: 5px 0;
}
.main_container .school_list li .rating .voteSchool {
  display: block;
  margin: 0 auto;
  font-size: 26px;
  color: #999;
}
.main_container .school_list li .rating .voteSchool:hover {
  color: #5cb85c;
}
.main_container .school_list li .rating .voteSchool.Voted,
.main_container .school_list li .rating .voteSchool.voted {
  color: #5cb85c;
}
.main_container .school_list li .rating .voteSchool.Voted:hover,
.main_container .school_list li .rating .voteSchool.voted:hover {
  color: #5cb85c;
}
.main_container .school_list li .rating .count {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 5px 0;
}
.main_container .school_list li .rating .count.Voted,
.main_container .school_list li .rating .count.voted {
  color: #222;
}
.ui-autocomplete {
  background: #ffffff;
  border: none;
  font-family: inherit  !important;
  box-shadow: 0px 2px 10px #444;
}
.ui-autocomplete .ui-menu-item {
  padding: 10px !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background: #eee;
  border: 1px solid #ddd;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.footer {
  background: none repeat scroll 0 0 #fff;
  border-top: 1px solid #eee;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  position: relative;
}
.footer .social-wrapper {
  text-align: center;
  padding-top: 10px;
}
.footer .social-wrapper .social {
  text-decoration: none;
  font-size: 28px;
}
.footer .social-wrapper .social.facebook {
  color: #3b5998 ;
}
.footer .social-wrapper .social.twitter {
  color: #4099ff;
}
.footer .social-wrapper .social.google {
  color: #D84B37 ;
}
.footer .social-wrapper li {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin: 0 5px;
}
.footer .heading {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 1px solid #eaeaea;
}
.footer .logo {
  text-align: center;
}
.footer .logo img {
  display: inline-block;
}
.footer ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.ui-widget {
  font-family: inherit !important;
  font-size: inherit !important;
}
#accordian h3 {
  background: none repeat scroll 0 0 #eaeaea;
  border: medium none;
  border-radius: 0 !important;
  color: #555555;
  font-size: 15px !important;
  font-weight: 600;
  padding: 10px !important;
  text-transform: uppercase;
}
#accordian h3 .icon {
  font-size: 12px;
}
#accordian h3 .glyphicon-chevron-up {
  display: none;
}
.ui-accordian-header,
.ui-state-default {
  background: none repeat scroll 0 0 #eaeaea;
  border: medium none;
  border-radius: 0 !important;
  color: #555555;
  font-size: 15px !important;
  font-weight: 600;
  padding: 10px !important;
  text-transform: uppercase;
}
.ui-accordian-header.filterActive,
.ui-state-default.filterActive {
  background: #ff6b45;
  color: #fff;
}
.ui-accordian-header .icon,
.ui-state-default .icon {
  font-size: 12px;
}
.ui-accordian-header .glyphicon-chevron-up,
.ui-state-default .glyphicon-chevron-up {
  display: none;
}
.ui-accordian-header.ui-accordion-header-active,
.ui-state-default.ui-accordion-header-active {
  background: #ff6b45;
  color: #fff;
  margin-bottom: 0 !important;
}
.ui-accordian-header.ui-accordion-header-active .glyphicon-chevron-down,
.ui-state-default.ui-accordion-header-active .glyphicon-chevron-down {
  display: none;
}
.ui-accordian-header.ui-accordion-header-active .glyphicon-chevron-up,
.ui-state-default.ui-accordion-header-active .glyphicon-chevron-up {
  display: block;
}
.ui-accordion-header-icon,
.ui-icon,
.ui-icon-triangle-1-e {
  display: none !important;
}
.ui-widget-content.ui-accordion-content {
  background: none repeat scroll 0 0 #fff !important;
  border: 1px solid #eaeaea;
  color: #222222;
  padding: 15px !important;
  margin-bottom: 15px;
}
.pagination li.active a {
  background: #ff6b45;
  border-color: #ff833d;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: #999;
}
/* ============================================= */
.page_auth,
.page_admin {
  background: #fff;
}
.page_auth .navbar-brand,
.page_admin .navbar-brand {
  margin-top: 0px;
  height: 50px;
  padding: 15px;
}
.page_auth .nav,
.page_admin .nav {
  margin: 0;
}
.page_auth .navbar-default,
.page_admin .navbar-default {
  background: #f8f8f8;
}
.page_auth .navbar-default a,
.page_admin .navbar-default a {
  text-transform: none;
}
.page_auth .footer,
.page_admin .footer {
  display: none;
}
.page_auth .page-header,
.page_admin .page-header {
  margin-top: 10px;
  font-size: 30px;
}
.page_admin .navbar-brand {
  background: url("../images/logo-black.png") no-repeat scroll 0 center / contain transparent;
}
#schoolFilterResultsContainer {
  position: static;
}
#school-details h1 .btn {
  letter-spacing: 0;
}
#school-details .item .item-content {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 15px;
  margin-bottom: 15px;
}
#school-details .item .item-content .heading {
  background: none repeat scroll 0 0 #d0e0eb;
  border-bottom: 1px solid #eee;
  color: #49708a;
  font-size: 15px;
  line-height: normal;
  padding: 8px 9px;
  text-transform: uppercase;
  font-weight: 600;
}
#school-details .item .item-content ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
#school-details .item .item-content ul li {
  padding: 5px;
  margin: 5px;
}
#school-details .item .well {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  border-radius: 0;
  min-height: 300px;
  padding: 10px;
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 0;
}
#school-details .item .well .overview-options {
  margin: 15px 0;
  color: #999;
}
#school-details .item .well.no-data {
  color: #999;
  text-align: center;
}
#school-details .item .well .error-404 {
  color: #999;
  max-width: 100%;
  text-align: center;
  height: auto;
  padding: 40px 0;
}
#school-details .item .well .row {
  margin-bottom: 10px;
}
#school-details .item .well .grad-courses {
  font-size: 17px;
  font-weight: 600;
}
#school-details .item .well .grad-courses li {
  line-height: normal;
  overflow: hidden;
  float: none;
}
#school-details .item .well .grad-courses li .count {
  color: #999;
  vertical-align: middle;
  margin-right: 10px;
}
#school-details .item .well .grad-courses li .name {
  overflow: hidden;
}
#school-details .item .acceptance-no {
  text-align: center;
}
#school-details .item .acceptance-no span {
  display: inline-block;
  font-size: 38px;
  line-height: normal;
  vertical-align: top;
}
#school-details .item .acceptance-no span.number {
  font-size: 75px;
  line-height: normal;
  font-weight: normal;
}
#school-details .item .acceptance-no.high {
  color: #5cb85c;
}
#school-details .item .acceptance-no.low {
  color: #ff0000;
}
#school-details .item .acceptance-no.medium {
  color: #ff9900;
}
#school-details .highchart-container {
  position: relative;
  height: 100%;
}
.img-selector {
  text-align: center;
}
.img-selector img {
  display: inline-block;
}
#loading {
  height: 30px;
  margin: 30px auto;
  text-align: center;
  width: 30px;
}
#loading img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
#error-404 {
  margin: 30px auto;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}
#error-404 span {
  font-size: 22px;
  margin-bottom: 10px;
}
#loadmoreBar {
  background: #EFEFEF;
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 15px 0;
}
.tab-content .tabContent {
  padding: 20px 0;
}
.overview-options .voted {
  color: #5cb85c;
}
.overview-options .count {
  font-size: 50px;
  font-weight: normal;
  text-align: right;
  vertical-align: middle;
}
.overview-options .options a {
  margin-right: 5px;
}
.overview-options .voteText {
  font-weight: normal;
  font-size: 22px;
  vertical-align: middle;
}
.with-indicator {
  text-decoration: none !important;
}
.indicator.indicator-circle {
  color: #ff6b45;
  font-size: 33px;
  line-height: 20px;
  position: relative;
}
.indicator.indicator-dollar {
  color: #ff6b45;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
}
.indicator.circle-1:before {
  content: "●";
}
.indicator.circle-2:before {
  content: "●●";
}
.indicator.circle-3:before {
  content: "●●●";
}
.indicator.circle-4:before {
  content: "●●●●";
}
.indicator.circle-5:before {
  content: "●●●●●";
}
.indicator.dollar-1:before {
  content: "$";
}
.indicator.dollar-2:before {
  content: "$$";
}
.indicator.dollar-3:before {
  content: "$$$";
}
.indicator.dollar-4:before {
  content: "$$$$";
}
.indicator.dollar-5:before {
  content: "$$$$$";
}
.surveyForm {
  padding: 30px 0;
}
.surveyForm .form-group {
  margin-bottom: 46px;
}
.surveyForm .form-group .q-span {
  color: #999;
  display: block;
  font-weight: normal;
  margin: 5px 0;
  font-size: 14px;
}
.surveyForm .form-group .count {
  color: #ccc;
  float: left;
  font-size: 30px;
  font-weight: 600;
}
.surveyForm .form-group .survey-data {
  overflow: hidden;
  padding-left: 5px;
}
.surveyForm .form-group .survey-data > label {
  font-size: 17px;
  line-height: normal;
  display: block;
}
.surveyForm .form-group .survey-data textarea {
  resize: none;
}
.error-block {
  color: red;
}
.carousel-inner > .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 360px;
  padding: 0;
}
.rating-disabled {
  cursor: default;
}
.stacked-options {
  list-style: none outside none;
  margin-bottom: 0;
  padding-left: 0;
}
.stacked-options li {
  margin-left: 0;
  margin-top: 2px;
}
.stacked-options li a {
  background: none repeat scroll 0 0 #eaeaea;
  border-radius: 0;
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  font-weight: 600;
}
.stacked-options li.active a,
.stacked-options li:hover a {
  background: none repeat scroll 0 0 #ff6b45;
  color: #fff;
}
.profile-content .section {
  margin-bottom: 20px;
}
.profile-content .form {
  padding: 20px 0;
}
.profile-content.section {
  padding-bottom: 15px;
  padding-top: 15px;
}
.profile-content.section .col-heading {
  border-bottom: 1px solid #ddd;
}
.profile-content #imgPreview {
  width: 48px;
  height: 48px;
}
/*************** Reviews ****************/
#reviews {
  line-height: 22px;
  font-size: 14px;
}
#reviews .sort-bar {
  display: none;
}
#reviews .review-item {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
#reviews .review-item:last-child {
  border-bottom: none;
}
#reviews .review-item .date {
  color: #888;
  margin-bottom: 10px;
  font-size: 13px;
}
#reviews .review-item .title {
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: #03aee4;
}
#reviews .review-item .rating-star {
  font-size: 24px;
  margin: 5px 0;
}
#reviews .review-item .content {
  color: #777;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
#reviews .review-item .content label {
  color: #222;
  font-size: 13px;
}
#reviews .review-item .action .btn .icon {
  color: #777;
}
#reviews .review-item .action .btn.btn-danger .icon,
#reviews .review-item .action .btn.btn-warning .icon {
  color: #fff;
}
#reviews .review-item .counts {
  margin-top: 20px;
}
#reviews .review-item .counts span {
  font-size: 20px;
  font-weight: 600;
}
#reviews .review-item .counts .color-success {
  color: #5cb85c;
}
#reviews .review-item .counts .color-danger {
  color: #d9534f;
}
.rating-star {
  color: orange;
}
.rating-star.glyphicon-star-empty {
  color: #ccc;
}
#similarSchools .school-photo {
  background-size: cover;
  height: 80px;
}
#similarSchools .item {
  margin-bottom: 15px;
}
#similarSchools .img-content .name {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 5px;
}
#similarSchools .img-content .location {
  font-size: 15px;
  color: #222;
  font-weight: 600;
}
/*************** Blog ****************/
#blog .info {
  font-size: 14px;
  margin: 10px 0;
}
#blog .blog-item {
  background: #fff;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(132, 132, 132, 0.44);
}
#blog .blog-item h4 {
  line-height: normal;
  font-size: 22px;
  margin: 0;
  padding: 5px 15px;
  margin: 5px 0;
}
#blog .blog-item h4 a {
  color: #222;
}
#blog .blog-item .info {
  font-size: 13px;
  padding: 5px 15px;
}
#blog .blog-item .content {
  padding: 5px 15px;
  font-size: 15px;
  line-height: 24px;
  color: #666;
}
#blog .blog-item .action {
  padding: 5px 15px;
  overflow: hidden;
  margin-bottom: 5px;
}
#blog .cover-image {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ddd;
  border-bottom: none;
}
#blog .cover-image img {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#blog .blog-content {
  background: #fff;
  padding: 20px;
  font-size: 15px;
  line-height: 26px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #666;
  margin-bottom: 20px;
}
#blog .blog-content .blog-footer {
  margin: 10px 0;
}
#blog .blog-content img {
  max-width: 100% !important;
  height: auto !important;
}
/*************** Terms ****************/
#terms {
  background: #fff;
}
#terms .nav-tabs li a {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
#terms .tab-content {
  padding: 20px;
  font-size: 16px;
  line-height: 26px;
}
#terms .tab-content h2,
#terms .tab-content h3 {
  font-weight: 600;
}
#terms .tab-content h2 {
  font-size: 20px;
  line-height: normal;
}
#terms .tab-content h3 {
  font-size: 18px;
  line-height: normal;
}
.rating-stars {
  font-size: 60px;
  color: #ccc;
}
.rating-stars .glyphicon {
  cursor: pointer;
}
.rating-stars .rating-symbol-foreground {
  color: orange;
}
#reviewForm .form-group {
  margin-bottom: 20px;
}
.sidebar-module {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(132, 132, 132, 0.44);
  padding: 15px 20px;
}
.sidebar-module .help-text {
  color: #777;
  font-size: 14px;
  line-height: 22px;
}
.sidebar-module ul li {
  margin: 5px 0;
  font-size: 15px;
}
.sidebar-module ul.list-unstyled {
  list-style: disc outside;
  padding-left: 15px;
}
.sidebar-module .help-text {
  color: #777;
  font-size: 14px;
  line-height: 22px;
}
.sidebar-module .help-text h2 {
  font-size: 16px;
}
.sidebar-module .help-text h3 {
  font-size: 15px;
}
.col-heading {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: normal;
}
/*************** Contact ****************/
#contactForm .form-group {
  display: block;
  float: none;
}
/*************** Auth Modal ****************/
.social-or {
  font-size: 22px;
  margin: 30px 0;
  color: #666;
}
.social-signin {
  max-width: 280px;
  margin: 20px auto;
}
.social-signin .btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.social-signin .btn .icon {
  vertical-align: middle;
  font-size: 20px;
}
.social-signin .btn.facebook {
  background: #3b5998 ;
  border-color: #3b5998 ;
}
.social-signin .btn.twitter {
  background: #4099ff;
  border-color: #4099ff;
}
.social-signin .btn.google {
  background: #D84B37 ;
  border-color: #D84B37 ;
}
.login-modal .form-wrapper,
#registerForm .form-wrapper {
  margin-bottom: 50px;
}
.login-modal .terms,
#registerForm .terms {
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #ddd;
  font-size: 12px;
  margin: 20px 0;
  color: #888
    background: #f5f5f5;
}
.login-modal .terms h1,
#registerForm .terms h1,
.login-modal .terms h2,
#registerForm .terms h2,
.login-modal .terms h3,
#registerForm .terms h3,
.login-modal .terms h4,
#registerForm .terms h4,
.login-modal .terms h5,
#registerForm .terms h5,
.login-modal .terms p,
#registerForm .terms p {
  font-size: 12px;
}
.login-modal .disclaimer,
#registerForm .disclaimer {
  font-size: 12px;
  color: #888;
}
.login-modal .modal-content {
  padding: 20px;
}
.login-modal .form-signin-heading {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
.login-modal .form-signin-heading h3 {
  font-weight: 600;
}
.login-modal .form-signin-heading h3 span {
  font-size: 14px;
  font-weight: normal;
}
.login-modal .action {
  text-align: center;
}
.login-modal .action .btn-success {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  width: auto;
}
#loginContainer.login-modal .form-wrapper {
  max-width: 420px;
}
.text-center {
  text-align: center;
}
.form-medium {
  max-width: 600px;
}
.custom-responsive-table .img {
  height: 80px;
  width: 100px;
  background-size: cover !important;
}
.my-schools .name {
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
}
.my-schools .indicator {
  font-size: 18px;
}
.my-schools .indicator.indicator-circle,
.my-schools .indicator.indicator-dollar {
  font-size: 18px;
}
.list-heading {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.list-heading .checkbox {
  margin-top: 0;
}
#emailSettings .item {
  margin-bottom: 20px;
}
#emailSettings .item label {
  display: block;
}
#emailSettings .item:first-child {
  margin-bottom: 40px;
}
#emailSettings .item h4 {
  font-weight: 600;
  margin-bottom: 5px;
}
#emailSettings .item .info {
  color: #777;
}
#mySavedSchoolstable .school {
  margin-bottom: 10px;
}
#mySavedSchoolstable .school a {
  font-size: 16px;
  color: #222;
}
#mySavedSchoolstable .title {
  font-weight: 600;
  font-size: 15px;
}
.highchart-container h3 {
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  height: 50px;
}
.highchart-container input {
  font-size: 22px !important;
}
.no-data {
  color: #ccc;
  font-weight: normal;
  margin: 100px auto;
  text-align: center;
}
.no-data .icon {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
}
.no-data .msg {
  font-size: 22px;
  margin-bottom: 30px;
}
.center-text {
    left: 0;
    margin: 15px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.algnRight{float:right;}
@media screen and (max-width:1024px){
.algnRight{float:left; width:100%; margin-bottom:20px;}
.algnRight label{display:none !important;}
#wait{left:39% !important; z-index: 9;top:319% !important;}
#reviewForm{position:relative;}
}