@primary-color: #03aee4;


html,body{
  font:14px/18px  'Open Sans', Helvetica,Arial,sans-serif;
  color: #222;
  margin:0px;

  -webkit-font-smoothing: antialiased;

  
}

html{
  background:#f8f8f8;
  body{
    background: transparent;


  }

cite {
    color: #999;
    font-size: 13px;
    //font-style: italic;
}

.selected{
    background-color: #FF6B45;
    color: #FFF;
    padding: 0 4px;
  }

.show-mobile{
  display: none !important;
}

 h1.main-header{
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 36px;
    font-weight: 100;
    margin: 5px 0 40px;
    padding: 30px;
    letter-spacing: -1px;
    overflow:hidden;

    .survey{

      .btn-link{
        color: #fff;
        font-size: 24px;
        text-decoration: underline;
      }
    }

    .info{
      text-decoration: underline;
      font-size: 22px;
      font-weight: normal;
      letter-spacing: 0;
      margin: 10px 0 0 0;
      color: #ccc;

      a{
        color: #ccc;
      }


      .survey{

        a{
          color: #fff;
        }
      }
    }
  }




.btn{


  &.main_action{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow:none;
  }
}

  &.page_settings{

    min-height: 100%;
    position: relative;

    body{
     margin-bottom: 220px;

      > .main_container{
       // padding: 100px 15px 0;
      }
    }

    #header{

      .navbar-fixed-top{
        position: fixed;
      }

    }


    .footer{
    
      bottom: 0;
    
      height: 212px;
      position: absolute;
      width: 100%;

    }


  }





}
.nav > li > a:hover, .nav > li > a:focus{
  background: #EEE;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
   color: #ccc !important;
    font-size: 15px;
    font-weight: normal;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc !important;
    font-size: 15px;
    font-weight: normal;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ccc !important;
    font-size: 15px;
    font-weight: normal;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #ccc !important;
    font-size: 15px;
    font-weight: normal;
    
}



.form-wrapper{
  max-width: 520px;
  margin: 0 auto;

  .header-image{

    text-align: center;
    margin:40px 0;

    img{
      display: inline-block;
      max-width: 60%;

    }

  }
}

.filter{
  clear: both;
  display: block;
  margin-bottom:15px;
  


  .date-filter-wrapper{
    display: none;
  }
}



#filter_input{
  width: 220px;
}

.navbar-default{
  background: #e6e6e6
}

.navbar{


 .nav{
  margin:0 !important;
  text-transform: uppercase;
 }

 .container{
  padding-left: 30px;
  padding-right: 30px;
 }
}

.navbar-toggle{
  border-color: #fff;
}

.navbar-toggle .icon-bar{
  background: #fff;
}


.custom-responsive-table{

    .responsive-table-th{
      display: none;
    }
  }



/* ===================================== */

.btn-link{

  color: #03aee4;

  &:hover{
    color: #1699cc;
  }
}

#header{


  .navbar{

      >.container{
        padding-left: 15px;
        padding-right: 15px;
      }


    

            .nav{

              > li{

                > a{

                     background-color: transparent;
                  
                    color: #ccc;
               
                
                    transition: all 0.2s linear 0s;
                  
                
                   
                  

                    &:hover{
                      background-color: rgba(255, 255, 255, 0.5);
                        border-color: #f3f5f5;
                        color: #ffffff;
                        opacity: 1;
                    }

                  }

              }

            


           
        }
      

    }













  .nav{

    .profile-img{

      > a{
       background: none repeat scroll 0 0 transparent !important;
      border: medium none !important;
      padding-top: 0 !important;
      vertical-align: top;

        .caret{
             margin-left: 6px !important;
             margin-top:18px;
             color: #444;
        }
      }

      .dropdown-menu{
        margin:0;
        padding:0;
        li{
          margin-left: 0;
          margin-right: 0;
        }

        a{
          margin-left: 0 !important;
          margin-right: 0 !important; 
          border:none !important;

          &:hover{
            color: #222;
          }
        }
      }

    }

    .dropdown-menu{

      li{

        a{

          padding: 10px 15px;
        }
      }
    }
  }

  .navbar-fixed-top{
    background: url("../images/bg_black.png") repeat scroll 0 0 transparent;

      .nav{

        .profile-img{

          > a{

            margin: 7px 0 0  !important;
          }
        }

      }
          

  }




}

label{
    color: #444;
 
}

.bg_white{
  background: #fff;
}

.wrapper{
 

  &.bg_white{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
  }

  .nav-pills{

    &.nav-stacked{

      li{

        a{
         background:  #eaeaea;
         border-radius: 0;
         font-size: 15px;
         margin-bottom: 5px;

         
        }

         &.active{
            a{

             background: #ff6b45;   
            }
          }
      }
      
    }
  }
}


.navbar-brand{
     background: url("../images/logo-black.png") no-repeat scroll 0 center / contain transparent;
   height: 42px;
    margin-left: 0 !important;
    margin-top: 3px;
    width: 200px;

  }

.navbar-fixed-top{


  &.sticky{

    
   

    .navbar-nav{
      margin: 0;
      > li{

       > a{

            color: #ccc;
        }
      }
      


    }

    .nav > li > a:hover, .nav > li > a:focus{
      background: #222;
    }
  
  }
}



#home_page{
 height: 100%;

   body, .row {
    height: 100%;

  }

  .navbar-fixed-top{
  position: fixed;

}

  .navbar-brand{
     background: url("../images/logo-black.png") no-repeat scroll 0 center / contain transparent;
   
    margin-left: 0;
    margin-top: 3px;
    width: 200px;

  }

  #header{
    border-color: transparent;



    

   


    .navbar{
      border-color: transparent;
       background: url("../images/bg_black.png") repeat scroll 0 0 transparent;

       &.sticky{

          position: fixed;
          margin:0;
        

          .navbar-brand{
              //background: url("../images/logo-white.png") no-repeat scroll 0 0 / contain transparent;
            
          }

          .navbar-nav{
            margin: 0;

          >  a{
              color: #ccc;
              border:none !important;
              margin:0;
              padding-top: 15px;
               padding-bottom: 15px;
            }

            .profile-img{


              > a{

                padding-bottom: 0;
               }
            }
          }

        }
    }
  
    .navbar-default, .navbar-inverse{
     
    }

 
    .nav{

      .profile-img{

        > a{

          .caret{
            color: #fff;
          }
        }
      }
    }


}









}

.home{
  background:url("../images/bg-1.jpg") no-repeat fixed 50% 0   transparent;
  height: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
     position: relative;
    }
}

.home-wrapper{
     background: url("../images/home-wrapper.png") repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
   

}

#home, #school-details{
   .lead{
      text-align: center;
     color: #fff;
     font-size: 45px;
     font-weight: lighter;
     text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

     span{
      font-weight: 400;
     }
   
   }

   .search_form{
      text-align: center;
      margin: 0 auto;


      .form-control,.ui-autocomplete-input{
        border-radius: 0;
        border:1px solid #eee;
      }

      .input-group-addon{
         border-color: #ff6b45;
      background:#ff6b45;
        color: #fff;
      }


      .form-group{


        &:first-child{

            .ui-autocomplete-input{
              border-right-color: #fff;
            }
        }


         &:last-child{

            .ui-autocomplete-input{
              border-left-color: #fff;
            }
        }



      }


      .glyphicon-search{
      
           font-size: 20px;
        
      }
   }



}


#school-details{

    .lead{
      color: #222;
      text-shadow:none;
    }

      .search_form{
      text-align: center;
      margin: 0 auto;
      margin-bottom: 50px;


      .form-control,.ui-autocomplete-input{
        border-radius: 0;
        border:1px solid #ccc;
      }

     


      .form-group{


        &:first-child{

            .ui-autocomplete-input{
              border-right-color: #fff;
            }
        }
      }


    
   }

}


#home{
   padding: 80px 0 0;

  
   table{
    height: 100%;

      tr, td{
        height: 100%;
      }
   }


   #popular{
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;

      .lead{
         font-size: 30px;
        margin: 10px 0;
        text-shadow: none;

      }

     

     

   }


  section{
   
    &.popular-schools{
      background: url("../images/bg_black.png") repeat scroll 0 0 transparent;
      padding: 5px 0;
       .content{
         background: none repeat scroll 0 0 #fff;
         border-bottom: 1px solid #c7c9c8;
         margin-bottom: 15px;

         .img-content{
           //padding: 18px 10px 10px 0;
            h4{
              font-weight: 600;
              font-size: 16px;
              line-height: normal;
            }
         }
      }



    }



   }
}













.main_container{
padding-top:80px;
  margin-bottom: 20px;



   

   .sidebar-nav{

    &.filters{

      ul{
        list-style: none outside;
        padding: 0;
        margin: 0;

        li{
           border-bottom: 1px solid #ddd;



          a{

           background-color: #eaeaea;
          border-radius: 0px;
          cursor: pointer;
          display: block;
          padding: 10px 15px;

            &.with-indicator{
              padding: 7px 15px;


              .indicator{
                color: #999;


              }



            }





            &.active{

              &.with-indicator{

                .indicator{
                  color: #ff6b45;
                }

              }


            }



          }


           &:hover{

              a{

                &.with-indicator{

                 .indicator{
                   color: #ff6b45;

                 }
              }


            }
              
          }












        }



      }

      
    }

   }


   .currentFilters{
    margin: 0;
    padding: 0;
     list-style: none outside;

     li{
      margin: 5px 0;
    padding: 5px 0;

      .remove{
        color: #999;

        &:hover{
          color: #222;
        }
      }

      label{
        display: block;
      }

      ul{
        padding: 0;
        margin: 0;
        list-style: none outside;
      }


     }
   }


   .school_list{

    list-style: none outside;
    padding:0;
    margin: 0;

    li{
         border-bottom: 2px solid #f5f5f5;
      clear: both;
      margin: 15px 0;
      overflow: hidden;
      padding: 10px 0 15px;


      .actions{
        margin: 10px 0;
        .btn{
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .indicator{

        &.indicator-circle{
          font-size: 20px;
        }
      }


       .indicator{

        &.indicator-dollar{
          font-size: 19px;
        }
      }

      &:first-child{
        padding-top:0;
       
      }

      &:last-child{
        border-bottom:none;
      }


      .img{
         background: none repeat scroll 0 0 #eee;
          height: 150px;
          border-radius: 4px;
       
         
      }

      .img-content{
        .school-details{

            font-size: 14px;
           margin-bottom: 4px;
        }
      }



      h4{
        font-weight: 600;
        line-height: normal;
        margin-top:0;
        margin-bottom: 5px;
      }

      .location{
          font-size: 15px;
        font-weight: 600;
         margin-bottom: 20px;
      }

      .save-bar{
        text-align: center;
       color: #5cb85c;
       font-size: 32px;
       margin-bottom: 15px;

       .following{
             display: block;
          font-size: 18px;
          padding: 5px 0;
       }


      }

      .rating{
        text-align: center;
        margin:10px 0;
        color: #999;

        .voteText{
            display: block;
          font-size: 18px;
          padding: 5px 0;
        }

        
        .voteSchool{
          display: block;
          margin: 0 auto;
          font-size: 26px;
          color: #999;

          &:hover{
           color: #5cb85c;
          }

          &.Voted, &.voted{
            color: #5cb85c;

            &:hover{
              color: #5cb85c;

            }

          }


        }
        .count{
         
          display: block;
          font-size: 32px;
          font-weight: 600;
          text-align: center;
          display: block;
          padding: 5px 0;

            &.Voted, &.voted{
            color: #222;

          }


        }
      }

      
    }

   }



  

}


.ui-autocomplete{
  background:  #ffffff;
  border: none;
  font-family: inherit  !important;
  box-shadow: 0px 2px 10px #444;
   
    .ui-menu-item{
      padding: 10px !important;

      &.ui-state-focus{
        background: #eee;
        border: 1px solid #ddd;
      }
    }

}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.footer{
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #eee;
    font-size: 14px;
    line-height: 20px;
   
   padding: 0;
    position: relative;

    .social-wrapper{
      text-align: center;
      padding-top: 10px;

    
        .social{

        text-decoration: none;
         font-size: 28px;

         &.facebook{
          color: #3b5998 ;
         }

         &.twitter{
          color: #4099ff;

         }

         &.google{
          color: #D84B37 ;


         }
       }

      
      li{
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
   

    .heading{
      text-transform: uppercase;
   
      font-weight: 600;
      padding-bottom: 2px;
      border-bottom: 1px solid #eaeaea;
    }

    .logo{
      text-align: center;

      img{
        display: inline-block;
      }
    }

    ul{
      list-style: none outside;
      padding: 0;
      margin: 0;
    

      li{
       
      

        a{
        
        }

      }
    }
}


.ui-widget{
  font-family: inherit !important;
  font-size: inherit !important;
}

#accordian{

  h3{
     background: none repeat scroll 0 0 #eaeaea;
    border: medium none;
    border-radius: 0 !important;
    color: #555555;
    font-size: 15px !important;
    font-weight: 600;
    padding: 10px !important;
    text-transform: uppercase;
    
    .icon{
      font-size: 12px;
    }

    .glyphicon-chevron-up{
        display: none;
      }


  }
}

.ui-accordian-header, .ui-state-default{
   background: none repeat scroll 0 0 #eaeaea;
    border: medium none;
    border-radius: 0 !important;
    color: #555555;
    font-size: 15px !important;
    font-weight: 600;
    padding: 10px !important;
    text-transform: uppercase;

    &.filterActive{
        background: #ff6b45;
      color: #fff;
    }
    
    .icon{
      font-size: 12px;
    }


    .glyphicon-chevron-up{
      display: none;
    }

    &.ui-accordion-header-active {
      background: #ff6b45;
      color: #fff;
      margin-bottom:0 !important;

       .glyphicon-chevron-down{
          display: none;
        }

        .glyphicon-chevron-up{
        display: block;
      }
    }

}

.ui-accordion-header-icon, .ui-icon, .ui-icon-triangle-1-e{

  display: none !important;

}

.ui-widget-content{

  &.ui-accordion-content{
      background: none repeat scroll 0 0 #fff !important;
      border: 1px solid #eaeaea;
      color: #222222;
      padding: 15px !important;
      margin-bottom: 15px; 
  }

}


.pagination{

  li{

    &.active{

      a{

        background: #ff6b45;
        border-color: #ff833d;
      }
    }


  }
}


.copyright{


  text-align: center;

  font-size: 12px;
  color: #999;

}



/* ============================================= */

.page_auth,.page_admin{
  background: #fff;

  .navbar-brand{
     margin-top: 0px;
    height: 50px;
    padding: 15px;
  }

  .nav{
    margin: 0;
  }

  .navbar-default{
    background: #f8f8f8;

    a{

      text-transform: none;
    }
  }

  .footer{
    display: none;
  }

  .page-header{
    margin-top: 10px;
    font-size: 30px;
  }

}


.page_admin{

  .navbar-brand{
    background: url("../images/logo-black.png") no-repeat scroll 0 center / contain  transparent;
  }
}


#schoolFilterResultsContainer{
  position: static;
}





#school-details{
   
   h1{
     .btn{
      letter-spacing: 0;
     }
   }


  .item{

    // padding-left: 5px ;
     // padding-right: 5px;

    .item-content{
      background: #fff;
      border: 1px solid #ddd;
      font-size: 15px;
      margin-bottom: 15px;


      .heading{
         background: none repeat scroll 0 0 #d0e0eb;
        border-bottom: 1px solid #eee;
        color: #49708a;
        font-size: 15px;
        line-height: normal;
        padding: 8px 9px;
        text-transform: uppercase;
        font-weight: 600;
      }

      ul{
        list-style:none outside;
        padding:0;
        margin: 0;

        li{
          padding: 5px;
          margin: 5px;

        }
      }



    }

    .well{
      background: none repeat scroll 0 0 #fff;
      border: medium none;
      border-radius: 0;
      min-height: 300px;
      padding: 10px;
      white-space: normal;
      word-wrap: break-word;
      margin-bottom: 0;

      .overview-options{
        margin: 15px 0;
        color: #999;

          span{

          }
      }

      &.no-data{
          color: #999;
      
        text-align: center;


      }

      .error-404{
          color: #999;
          text-align: center;
          max-width: 100%;
          text-align: center;
          height: auto;
            padding: 40px 0;
        }

      .row{
        margin-bottom: 10px;
      }


        .grad-courses{
           font-size: 17px;
           font-weight: 600;

           li{
            line-height: normal;
            overflow: hidden;
            float: none;

            .count{
             color: #999;
            vertical-align: middle;
            margin-right: 10px;

            }

              .name{
                overflow: hidden;
              }
           }


        }



    }


      .acceptance-no{
          text-align: center;

          span{
               display: inline-block;
              font-size: 38px;
              line-height: normal;
              vertical-align: top;

            &.number{
              font-size: 75px;
              line-height: normal;
              font-weight: normal;

              
            }


          }

          &.high{
                color: #5cb85c;
              }

              &.low{
                color: #ff0000;

              }

              &.medium{
                color: #ff9900;
              }

        }




  }



.highchart-container{
     position:relative;
    height:100%;
  }
}

.img-selector{
   text-align: center;
  img{
   display: inline-block;

  }
}


#loading{
    height: 30px;
    margin: 30px auto;
    text-align: center;
    width: 30px;

    img{
      display: inline-block;
    height: auto;
    max-width: 100%;
    }


}


#error-404{
   
    margin: 30px auto;
    text-align: center;
    font-size: 16px;
    color: #ccc;
    span{
      font-size: 22px;
      margin-bottom: 10px;
    }
   

   


}

#loadmoreBar{
  background: #EFEFEF;
  text-align: center;
  width: 100%;
  cursor:pointer;
  padding: 15px 0;
}


.tab-content{

  .tabContent{
    padding: 20px 0;
  }
}


.overview-options{
  
   .voted{
      color: #5cb85c;
    }

  .count{
      font-size: 50px;
    font-weight: normal;
    text-align: right;
    vertical-align: middle;

   
  }

  .options{
   
    a{
      margin-right: 5px;
    }
  }

  .voteText{
    font-weight: normal;
    font-size: 22px;
    vertical-align: middle;
  }





}


.with-indicator{
  text-decoration: none !important;
}
.indicator{

  &.indicator-circle{
  color: #ff6b45;
    font-size: 33px;
    line-height: 20px;
    position: relative;

  }

  &.indicator-dollar{
     color: #ff6b45;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    position: relative;

  }



  &.circle-1:before{
   content: "●";
  }


  &.circle-2:before{
  content: "●●";

  }


   &.circle-3:before{
  content: "●●●";

  }

   &.circle-4:before{
  content: "●●●●";

  }

   &.circle-5:before{
    content: "●●●●●";

  }


  &.dollar-1:before{
   content: "$";
  }


  &.dollar-2:before{
  content: "$$";

  }


   &.dollar-3:before{
  content: "$$$";

  }

   &.dollar-4:before{
  content: "$$$$";

  }

   &.dollar-5:before{
    content: "$$$$$";

  }

}



.surveyForm{
  padding: 30px 0;

  .form-group{
    margin-bottom: 46px;
      

      .q-span{
           color: #999;
        display: block;
        font-weight: normal;
        margin: 5px 0;
        font-size: 14px;
      }

      .count{
         color: #ccc;
    float: left;
    font-size: 30px;
    font-weight: 600;

      }

      .survey-data{
         overflow: hidden;
    padding-left: 5px;

        > label{
            font-size: 17px;
          line-height: normal;
          display: block;
        }

        textarea{
          resize:none;
        }

      }
  }



}

.error-block{
  color: red;
}


.carousel-inner{

 

  >.item{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain !important;
      height: 360px;
      padding: 0;
      
  }

}


.rating-disabled{
  cursor: default;
}


.stacked-options{
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
    li{
        margin-left: 0;
       margin-top: 2px;

       a{
         background: none repeat scroll 0 0 #eaeaea;
          border-radius: 0;
          font-size: 16px;
          margin-bottom: 5px;
          display: block;
          padding: 10px 15px;
          position: relative;
          text-decoration: none;
          font-weight: 600;

       }

       &.active,&:hover{
         a{

          background: none repeat scroll 0 0 #ff6b45;
          color: #fff;

        }
       }
    }
}


.profile-content{

  .section{
    margin-bottom: 20px;
  }

  .form{
    padding: 20px 0;
  }

  &.section{
    padding-bottom: 15px;
    padding-top: 15px;
   

    .col-heading{
      border-bottom: 1px solid #ddd;
    }
  }



  #imgPreview{
    width: 48px;
    height: 48px;
  }

}

/*************** Reviews ****************/
#reviews{

  line-height: 22px;
  font-size: 14px;



  .sort-bar{
    display: none;
  }

  .review-item{
    border-bottom: 1px solid #ddd;
    padding: 5px 0;

    &:last-child{
      border-bottom:none;
    }

      .date{
        color: #888;
        margin-bottom: 10px;
        font-size: 13px;
      }

      .title{
        font-size: 16px;
        line-height: normal;
        font-weight: 600;
        color: @primary-color;
      
      }

      .rating-star{
        font-size: 24px;
        margin: 5px 0;
      }

      .content{
        color: #777;
        line-height: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;

          label{
            color: #222;
            font-size: 13px;
          }
      }


      .action{

          .btn{
           

            .icon{
              color: #777;
            }


            &.btn-danger, &.btn-warning{
              .icon{
                color: #fff;
              }
            }
          }
      }


       .counts{
      margin-top: 20px;

        span{
          font-size: 20px;
          font-weight: 600;
        }

        .color-success{
           color: #5cb85c;
        }


        .color-danger{
          color: #d9534f;

        }

        

      }



  }
}


.rating-star{
  color: orange;
  &.glyphicon-star-empty{
    color: #ccc;
  }
}


#similarSchools{

  .school-photo{
    background-size:cover;
   
    height: 80px;
  }

  .item{
    margin-bottom: 15px;
  }

   .img-content{
       
       .name{
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        margin-bottom: 5px;
       }

       .location{
        font-size: 15px;
        color: #222;
        font-weight: 600;
       }
     }
}

/*************** Blog ****************/

#blog{

   .info{
        font-size: 14px;
        margin: 10px 0;

      }

  .blog-item{
      background: #fff;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(132, 132, 132, 0.44);



      h4{
        line-height: normal;
        font-size: 22px;
        margin:0;
        padding: 5px 15px;
        margin: 5px 0;

        a{
          color: #222;
        }
        
      }

     .info{
        font-size: 13px;
         padding: 5px 15px;

      }

      .content{
        padding: 5px 15px;
        font-size: 15px;
        line-height: 24px;
        color: #666;

      }

      .action{
        padding: 5px 15px;
        overflow: hidden;
        margin-bottom: 5px;
      }

  }


  .cover-image{

    
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position:  center top;
       border-radius: 4px;
    border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     border: 1px solid #ddd;
     border-bottom: none;

     img{
        border-radius: 4px;
      border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     }
     
  }

  .blog-content{
    background: #fff;
    padding: 20px;
    font-size: 15px;
    line-height: 26px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 4px;
    border-top-left-radius: 0;
     border-top-right-radius: 0;
     color: #666;
     margin-bottom: 20px;

     .blog-footer{
      margin: 10px 0;
     }

     img{
      max-width: 100% !important;
      height: auto !important;

     }
  }

}


/*************** Terms ****************/

#terms{
  background: #fff;

  .nav-tabs{

    li{

      a{
        font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

      }

     
    }
  }

  .tab-content{

    padding: 20px;

    font-size: 16px;
    line-height: 26px;

    h2,h3{
      font-weight: 600;
    }

    h2{
      font-size: 20px;
      line-height: normal;
    }


    h3{
      font-size: 18px;
       line-height: normal;
    }
  }
}

.rating-stars{
  font-size:60px;
  color: #ccc;


  .glyphicon{
    cursor: pointer;
  }


  .rating-symbol-foreground{
    color: orange;
  }
}


#reviewForm{

    .form-group{
      margin-bottom: 20px;

      
    }
}

.sidebar-module{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(132, 132, 132, 0.44);
  padding: 15px 20px;

  .help-text{
     color: #777;
    font-size: 14px;
    line-height: 22px;

  }

  ul{

    li{
      margin: 5px 0;
      font-size: 15px;
    }

    &.list-unstyled{

        list-style: disc outside;
        padding-left: 15px;
    }
  }


  .help-text{
    color: #777;
    font-size: 14px;
    line-height: 22px;

    h2{
      font-size: 16px;
    }

    h3{
      font-size: 15px;
    }
  }


}

.col-heading{
  font-size: 22px;
  margin-bottom: 10px;
 
  line-height: normal
}


/*************** Contact ****************/

#contactForm{

  .form-group{
    display: block;
    float:none;
  }
}

/*************** Auth Modal ****************/

  .social-or{
    font-size: 22px;
    margin: 30px 0;
    color: #666;
  }


  .social-signin{
    max-width: 280px;
    margin: 20px auto;

    .btn{

       color: #fff;
      font-size: 14px;
      font-weight: 600;

      .icon{
       vertical-align: middle;
       font-size: 20px;

      }
     

       &.facebook{
          background: #3b5998 ;
          border-color:#3b5998 ;
         }

         &.twitter{
          background: #4099ff;
           border-color:#4099ff;

         }

         &.google{
          background: #D84B37 ;
          border-color:#D84B37 ;

         }


    }

  }
.login-modal, #registerForm{

  .form-wrapper{
    margin-bottom: 50px;
  }

  .terms{
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 20px 0;
    color: #888
    background: #f5f5f5;

    h1,h2,h3,h4,h5,p{
      font-size: 12px;
    }
  }

  .disclaimer{
    font-size: 12px;
    color: #888;
  }


}


.login-modal{

  .modal-content{
    padding: 20px;
  }

  .form-signin-heading{
    margin:0;
    margin-bottom: 40px;
    text-align: left;

    h3{
      font-weight: 600;
      span{
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .action{
     text-align: center;
     
    .btn-success{
      
        display: inline-block;
      font-size: 14px;
      font-weight: 600;
      width: auto;
    }
  }



}

#loginContainer{
  &.login-modal{
    .form-wrapper{
      max-width: 420px;
    }
  }
}

.text-center{
  text-align: center;
}


.form-medium{
  max-width: 600px;
}

.custom-responsive-table{

  .img{

    height: 80px;
    width: 100px;
    background-size: cover!important

  }
}


.my-schools{

  .name{

    font-size: 16px;
    line-height: normal;
    font-weight: 600;
  }

  .indicator{
    font-size: 18px;

    &.indicator-circle, &.indicator-dollar{
      font-size: 18px;
    }
  }
}




.list-heading{
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
    .checkbox{
      margin-top: 0;
    }
}


#emailSettings{

  .item{
    margin-bottom: 20px;

    label{
      display: block;
    }

    &:first-child{
      margin-bottom: 40px;
    }

    h4{
      font-weight: 600;
      margin-bottom: 5px;
    }

    .info{
      color: #777;
    }
  }

}

#mySavedSchoolstable{

  .school{
      margin-bottom: 10px;
    a{
      font-size: 16px;
     
      color: #222;

    }
  
  }


  .title{
     font-weight: 600;
    font-size: 15px;
  }
}


.highchart-container{
  h3{
    font-size: 16px;
  line-height: normal;
  font-weight: 600;
  height: 50px;
  }

  input{
    font-size: 22px !important;
  }
  
}


.no-data{
   color: #ccc;
    font-weight: normal;
    margin: 100px auto;
    text-align: center;

    .icon{
      font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    }

    .msg{
      font-size: 22px;
      margin-bottom: 30px;
    }
}


